[submodule "vendor/ahr"]
	path = vendor/ahr
	url = git://github.com/coolaj86/abstract-http-request.git
[submodule "vendor/futures"]
	path = vendor/futures
	url = git://github.com/coolaj86/futures.git
[submodule "vendor/require-kiss"]
	path = vendor/require-kiss
	url = git://github.com/coolaj86/require-kiss-js.git
